#octopus {
	position: absolute;
	margin-top: 100px;
	margin-left:45%;
}

#glasses {
	position: absolute;
	margin-top: 200px;
	margin-left: 48%
}

#hat {
	position: absolute;
	margin-left: 44%;
	margin-top: 20px;
}